 .DivAvo{
  display: flex;
  width: 100vw;
  height: 99vh;
  background-color: rgb(255, 255, 255);
}

.DivPai{
  display: flex;
  width: 100vw;
  height: 99vh;

}

.DivImgFundo {
  display: grid;
 justify-content: center;
 align-content: space-around;
  height: 99vh;
  width: 40vw;
  margin-left: -20px;
  padding: 0;

}

.ImgFundo {
 
width: 701px;
display: flex;
height: 99vh;
position: absolute;
 
}

.DivLogo {
  display: flex;
  height: 30vh;
  width: 30vw;
  position: relative;
  justify-content: center;
  align-items: center;
 
}



.TituloLogo {
  margin: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  
}

.DivComboBox {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 30vw;
position: relative;
  justify-content: space-between;
  align-items: center;

}

.InputSelecao {
  width:30vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
 
  
}

.Selecao {
  width: 215.9px;
  height: 45.2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 6%;
  background-color: white;
  text-align: center;

}

.Sorteio {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 0;

}

.SorteioBolas {
  display: grid;
  height: 100vh;

  align-content: center;
  text-justify: distribute;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
}


.Bola {
  display: grid;

  justify-content: center;
  align-items: center;
  margin: 45px;
  border-radius: 52%;
  background: white;
  color: rgb(49, 48, 48);
  font-size: 30pt;
  height: 106.36px;
  width: 111.2px;
  left: 639px;
  top: 487px;

  border: white 5px solid;
  box-shadow: 1px 1px 1px rgb(150, 148, 141);
 

}



.divBtn {

  display: grid;
  width: 50vw;
  height: 30vh;
  justify-items: center;
  align-content: center;
}

.container {

  width: 50vw;
  height: 20vh;
  position: fixed;
  left: 60%;
  top: 80%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}
.InfoConcurso{
  border: solid transparent 2px;

  
}
.Infotexto{

  font-size: 14px;
  color: white;
}
.informativo{
  width: 100vw;

  position: fixed;
  bottom: 0;
  background-color:transparent;

}.txtInformativo{
  font-size: 14px;
  color: black;
 
}
@media screen and (max-width: 900px) {
/* estilos */
.DivAvo{

  height: 99vh;
  margin: 0;
  padding: 0;
}
.DivPai{

  display: grid;
  height: 100%;
  justify-content:center;
  align-content:flex-start;
  margin: 0;
  padding: 0;

}

/*fundo colorido*/ 
.DivImgFundo{

  display: grid;
  
  height:55vh;
  width: 99vw;
  margin: 0;
  padding: 0;
}
.ImgFundo{
  display: flex;
  justify-content: center;
  align-items: center ;
  
  width: 98vw;
  height: 65%;
  margin: 0;
  padding: 0;
}
.IMG{
  height:100%;
  width: 770px;

  transform: rotate(90deg);
  margin-top: -105px;
  padding: 0;
  position: fixed;
}
/*itens dentro do fundo*/ 
.DivComboBox{
  display: grid;
  justify-content: center;
  align-content: center;
  
  width: 100vw;
  height: 34vh;
  margin: 0;
  padding: 0;
  position: fixed;
}
.InputSelecao{
  
  width:100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;

}
.Selecao{
  height: 5vh ;
  width:50vw;
  border-radius: 6px 6px 6px;
  box-shadow: 3px 3px 3px 3px inset transparent;
  background-color: white;
  text-align: center;
}
.DivLogo{
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
}
.Logo{
  text-align: center;
  height: 10vh;
  width: 15vw;
}
.TituloLogo{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 20pt;
  margin: 0;
  height: 10vh;
  padding: 0;
 
}
.InfoConcurso{
  border: solid transparent 2px;

  
}
.Infotexto{

  font-size: 14px;
  color: white;
}
.Sorteio{

  height:60px;
  margin-bottom: 80px;
  width: 99vw;
}
.SorteioBolas{
  display: grid;

  grid-template-columns: 120px 120px 80px;
  grid-template-rows:120px 120px 120px 120px 120px ;
  justify-content: center;

  height: min-content;
  width: 100vw;
}

.Bola {
  display: grid;
  margin: 10px;
  border-radius: 52%;
  background: white;
  color: rgb(0, 0, 0);
  border: white 5px solid;
  box-shadow: 1px 1px 1px rgb(150, 148, 141);
  font-size: 30pt;
  height: 53px;
  width: 55px;
}
.informativo{
  width: 100vw;

  position: fixed;
  bottom: 0;
  background-color: white;

}.txtInformativo{
  font-size: 14px;
  color: black;
 
}
}